html {
  font-size: 100%;
}

body {
  text-align: right;
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.inside-app {
  padding-right: 15px;
  max-width: 960px;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
.route {
  margin-top: 50px;
}
header {
  padding: 15px;
  background: gray;
}

button:disabled {
  opacity: 0.5;
}

.day {
  user-select: none;
  vertical-align: top;
  padding: 15px;
  display: inline-block;
  border: 1px solid black;
  width: 150px;
  height: 230px;
  overflow-y: scroll;
}
.day.choosed{
  background: green;
}